* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-500 {
    margin-top: 500px;
}

@font-face {
    font-family: Simpsonfont;
    src: url('fonts/Simpsonfont.ttf');
}

@font-face {
    font-family: Arial Bold;
    src: url('fonts/ARIALBD.TTF');
    }

@font-face {
    font-family: AriBlk;
    src: url('fonts/ARIBLK.TTF');
    }


body {
    font-family: Simpsonfont;
    color: black;
}

h1 {
    font-size: 40px;
}


/*Карусель*/
.all {
    margin-top: 98px;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от друга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 942px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(4), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3){
	background: url('media/arrow-back.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1){
	background: url('media/arrow-next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a, image{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

/*k1{
    background: url('media/img1.png');
}
.k1:hover{
    background: url('media/img1_h.png');
}*/
.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}


/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}


#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #000000;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4){
	background: #000000;
	border-color: #000000 !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

/*Хидер*/
.header {
    width: 100%;
    min-height: 153px;
    padding: 10px 180px;

    background-color: #191919;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.logo {
    max-height: 100px;
}

ul {
    width: 800px;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/*.badge{
    font-family: Arial;
    font-size: 13px;
    justify-content: center;
    padding: 2px 7px;
    border-radius: 100%;
    background: red;
    color: white;*/

.slideshow-container {
    margin: 100px auto 0;
    max-width: 600px;
    position: relative;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/*Хит продаж*/
.hit-container {
    margin-top: 100px;
    display: flex;
    gap: 17px;
    width: 100%;
    min-height: 783px;
}

.arrow-left, .arrow-right {
    color: #fff;
    font-size: 100px;
    font-weight: 600;
    background-color: white;
    border: none;
}
.background {
    background-image: url('media/hit_sale_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 50px;
}
/*Описание*/
.hit-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

    padding: 50px;
}
.hit-flex img{
    height: 650px;
}

.hit-description {
    font-family: Arial;
    font-size: 25px; 
    max-width: 60%; 
    text-transform: uppercase;
}

.hit-description b {
    font-size: 45px
}

.buy-button {
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: Arial;
    border-radius: 50px;
    box-shadow: 2px 2px 20px 0px #00000075;
    margin-top: 41px;
    padding: 25px 46px;
    transition: all .3s;
    cursor: pointer;
    
}
.buy-button:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 20px 0px #00000075;
}

/*Топ бренды*/
.brand-sector {
    margin-top: 210px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.brand-1 {
    max-width: 702px;

    padding: 46px 34px 34px;
    font-family: AriBlk;
    font-style: bold;
    background-color: #E2E2E2;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.brand-1:hover{
    background-color: black;
    transition: all 0.5s ease-in-out;
}

.brand-1-text {
    color: white; 
    font-size: 40px; 
    margin-right: 113px;
    font-style: bold;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.brand-1-text:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.maxler{
    display: flex;
    justify-content: center;
    text-align: center;
}

.brand-2 {
    max-width: 702px;
    padding: 208px 171px;

    background-color: #E2E2E2;

    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.brand-2:hover{
    background-color: black;
    transition: all 0.5s ease-in-out;
}
/*Состав*/
.accordion-info{
    font-family: Arial;
    font-size: 20px;
    padding: 0 150px 150px 150px;
}
.product-table {
    width: 100%;
    border-collapse:inherit;
    text-align: center;

}
blockquote, table {
    margin: 0 0 24px;
}

/*Контакты*/
.contacts-section {
    background-color: #191919;
    color: white;

    width: 100%;
    margin-top: 280px;

    padding-bottom: 60px;
    border-bottom: #E2E2E2 solid;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 106px 181px 0;
}

.contacts-map {
    width: 718px;
}

iframe {
    width: 100%;
    height: 551px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}


.contact__info {
    max-width: 230px;
}

.contact__label {
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-bottom: 70px;
}

.contact__label input {
    font-size: 14px;
    line-height: 150%;
    padding: 20px 0;
    border: none;
    border-bottom: solid;
    width: 257px;
    background: none;
    outline: none;
    color: #fff;
}

.contact__label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 257px;
    height: 1px;
    background: #2d2d2d;
}

.contact__button {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    width: 200px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 13px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    box-shadow: 8px 8px 20px 0px #00000075;
    transition: all .3s;
}

.contact__button:hover {
    background: #000000;
    color: #fff;
    box-shadow: 2px 2px 20px 0px #00000075;
}

.contact__block {
    margin-bottom: 45px;
}

.contact__pretitle {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.contact__text {
    font-family: Arial;
    font-size: 14px;
    line-height: 150%;
    color: #626262
}

/*Футер*/
.footer {
    width: 100%;
    padding: 31px 181px;
    background-color: #191919;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.footer-logo{
    max-width: 60px;
}

/*Страница Корзины*/
.container-purchases {
    font-family: Arial;
    width: 100%;
    padding: 0 68px;
    margin-top: 110px;
    
    display: flex;
    gap: 30px;
}

.list-buy-items {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buy-item, .buy-menu {
    background-color: #d9d9d9;
}

.buy-item {
    width: 100%;

    padding: 10px 10px 45px 79px;

    border-radius: 30px;
    border: none;
}

.buy-item img {
   max-height: 213px;
}

.buy-menu {
    font-family: Arial;
    width: 30%;
    height: 834px;

    padding: 36px;

    border-radius: 10px;
}

.closeModal {
    position: relative;
	width: 50px;
	height: 50px;
	opacity: 0.2;
	cursor: pointer;
    transition: opacity ease 0.5s;
    border: none;
    background: none;
}
.closeModal:hover {
	opacity: 1;
}


.closeModal::before,
.closeModal::after {
	content: '';
    position: absolute;
	display: block;
	width: 50px;
	height: 5px;
	background: #000;
}

.closeModal::before {
	transform: rotate(60deg);
}

.closeModal::after {
	transform: rotate(-60deg);
}

.count-container {
    width: 215px;
    padding: 5px 20px;
    background-color: white;
    border: black solid 3px;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

button[class*=btn] {
    font-size: 50px;
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition:background-color ease 0.2s;

    &:hover {
		background-color: #a9a9a9;
	}

    &:active {
        background-color: #656565;
    }
}

.count-container input {
    border: none;
    text-align: center;
    width: 70px;
    font-size: 35px;
    color: #43484D;
    font-weight: 500;
}

button:focus,
input:focus {
  outline:0;
}

.buy-button-menu {
    background-color: black; 
    border-radius: 50px; 
    border: none;

    color: white;
    font-size: 40px;

    width: 100%;
    padding: 20px 0;

    margin-top: 41px;

    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(2px);
        background-color: #43484D;
    }
}

.now-button{
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    width: 110px;
    padding: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.container-account {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 56px;

    margin-top: 117px;

    width: 100%;
    padding: 0 100px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 65%;

    padding: 50px 70px;
}

.avatar-img {
    width: 220px;
    height: 100%;

    margin-right: 67px;
}

.avatar-img img {
    width: 100%;
    height: 100%;
}

.payment {
    width: 35%;

    padding: 52px 36px;
}

.purchares {
    width: 100%;
    padding: 45px;
}

.profile, .payment, .purchares {
    background-color: #E2E2E2;
}

.purchares-item, .purchares-item-2 {
    width: 534px;
    border: white solid 10px;
    border-radius: 20px;

    padding: 20px 30px;
}

.purchares-item-2 {
    display: none;
}

.purchares-img {
    width: 100%;
    background-color: white;
    border-radius: 20px;

    padding: 30px 60px;
}

.purchares-img img {
    width: 100%;
    height: 100%;
}


/*Адаптив*/
@media (max-width: 1622px) {
    .brand-sector {
        gap: 100px;
    }
}


@media (max-width: 1500px) {
    h1 {
        font-size: 33px;
    }

    .logo {
        max-height: 90px;
    }

    li, .button-search, .button-shop, .button-account {
        font-size: 25px;
    }

    .container {
        gap: 50px;
        margin: 106px 40px;
    }

    .contacts-map {
        width: 100%;
    }
}

@media (max-width: 1500px) {
    .hit-description {
        max-width: 100%;
    }
}

@media (max-width: 1025px) {
    .header {
        padding: 10px 30px;
    }

    ul {
        width: 600px;
    }

    h1 {
        font-size: 28px;
    }

    #desktop:checked ~ #slider{
        max-width: 542px;
    }

    .buy-button {
        max-width: 286px;
        padding: 25px 23px;
    }
}



@media (max-width: 480px) {
    .brand-1, .brand-2, .brand-2 img {
        width: 100%;
    }

    .brand-1-text {
        font-size: 20px;
        margin-right: 0;
    }

    .brand-2 {
        padding: 104px 82px;
    }

    .hit-description {
        font-size: 16px;
    }

    .hit-description b {
        font-size: 30px;
    }

    .footer {
        padding: 31px 20px;
    }
}