* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Simpsonfont;
    src: url('fonts/Simpsonfont.ttf');
}

.mw-85 {
    max-width: 85px;
}

body {
    font-family: Simpsonfont;
    color: black;
}

h1 {
    font-size: 40px;
}

.all {
    margin-top: 98px;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от друга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 942px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(4), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3){
	background: url('media/arrow-back.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: -150px 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(1){
	background: url('media/arrow-next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: -150px -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}


#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #000000;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4){
	background: #000000;
	border-color: #000000 !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

.header {
    width: 100%;
    min-height: 153px;
    padding: 10px 180px;

    background-color: black;
}

.header-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-height: 100px;
}

ul {
    width: 800px;
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.button-search {
    cursor: pointer;
    font-size: 30px;
}

.button-shop, .button-account {
    color: white; 
    font-size: 30px;
}



.slideshow-container {
    margin: 100px auto 0;
    max-width: 600px;
    position: relative;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.hit-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 17px;

    max-width: 1757px;
    min-height: 783px;
}

.arrow-left, .arrow-right {
    color: black;
    font-size: 100px;
    font-weight: 600;
    background-color: white;
    border: none;
    cursor: pointer;
}

.hit-text {
    width: 100%;
}

.background {
    background-image: url('media/hit_sales.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.hit-title {
    margin-top: 40px; 
    margin-left: 615px;
}

.hit-description {
    font-size: 22px; 
    max-width: 750px; 
    margin-left: 615px; 
    margin-top: 5px;
}

.buy-button {
    max-width: 386px;
    height: 101px;

    background-color: black;
    color: white;

    font-size: 30px;
    font-family: Simpsonfont;

    border-radius: 50px;

    margin-top: 41px;
    margin-left: 615px;
    padding: 25px 46px;

    cursor: pointer;
}

.brand-sector {
    margin: 210px 136px 0;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.brand-1 {
    max-width: 702px;

    padding: 46px 34px 34px;
    font-family: 'Arial Black', Gadget, sans-serif;
    background-color: black;

    border-radius: 20px;
}

.brand-2 {
    max-width: 702px;
    max-height: 747px;
    padding: 208px 171px;

    background-color: #E2E2E2;

    border-radius: 20px;
}

.contacts-section {
    background-color: black;
    color: white;

    width: 100%;
    margin-top: 280px;

    padding-bottom: 42px;
    border-bottom: #E2E2E2 solid;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 106px 300px 0 181px;
}

.contacts-map {
    width: 718px;
}

iframe {
    width: 100%;
    height: 551px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}


.contact__info {
    max-width: 230px;
}

.contact__label {
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    margin-bottom: 70px;
}

.contact__label input {
    font-size: 14px;
    line-height: 150%;
    padding: 20px 0;
    border: none;
    border-bottom: solid;
    width: 257px;
    background: none;
    outline: none;
    color: #fff;
}

.contact__label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 257px;
    height: 1px;
    background: #2d2d2d;
}

.contact__button {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    width: 200px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 13px 36px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    box-shadow: 8px 8px 20px 0px #00000075;
    transition: all .3s;
}

.contact__button:hover {
    background: #d20005;
    box-shadow: 2px 2px 20px 0px #00000075;
}

.contact__block {
    margin-bottom: 45px;
}

.contact__pretitle {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.contact__text {
    font-size: 14px;
    line-height: 150%;
    color: #b9b9b9;
}

.footer {
    width: 100%;
    padding: 31px 181px;
    background-color: black;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




@media (max-width: 1622px) {
    .brand-sector {
        gap: 100px;
    }
}


@media (max-width: 1500px) {
    h1 {
        font-size: 33px;
    }

    .logo {
        max-height: 90px;
    }

    li, .button-search, .button-shop, .button-account {
        font-size: 25px;
    }

    .container {
        gap: 50px;
        margin: 106px 300px 0;
    }

    .contacts-map {
        width: 100%;
    }

    .hit-title, .hit-description, .buy-button {
        margin-left: 515px;
    }

    .hit-description {
        font-size: 18px; 
    }
}


@media (max-width: 1025px) {
    .header {
        padding: 10px 30px;
    }

    ul {
        width: 600px;
    }

    h1 {
        font-size: 28px;
    }

    #desktop:checked ~ #slider{
        max-width: 542px;
    }

    .hit-description {
        font-size: 14px; 
    }

    .buy-button {
        max-width: 286px;
        padding: 25px 23px;
    }

    .mw-85 {
        max-width: 60px;
    }
}

@media (max-width: 480px) {
    
}