@inherits LayoutComponentBase

<PageTitle>BlazorMenu</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>


        @Body

    </main>

    <div>
        <FootherMain />
    </div>
</div>