.catalog-item, .catalog-item-2 {
    width: 534px;
    border: white solid 10px;
    border-radius: 20px;
    padding: 20px 30px;
    background-color: #d9d9d9;
    font-family: Arial;
    margin: 0;
}

.not-for-sale {
    width: 534px;
    border-radius: 20px;
    opacity: 0.3;
}

.sale {
    width: 150px;
    height: 60px;
    background-color: red;
    border-radius: 50px;
    font-family: Arial Bold;
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-top: -400px;
    margin-left: -105px;
    position: absolute;
    /* padding: 5px;*/
}

.unavailable {
    opacity: 0.5;
    pointer-events: none;
}

.out-of-stock {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

.catalog-img {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px 60px;
}

    .catalog-img img {
        width: 100%;
        height: 100%;
    }

li {
    list-style-type: none;
}

.catalog {
    width: 100%;
    padding: 45px;
}

.buy-button {
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: Arial;
    border-radius: 50px;
    box-shadow: 2px 2px 20px 0px #00000075;
    margin-top: 41px;
    padding: 25px 46px;
    transition: all .3s;
    cursor: pointer;
}

    .buy-button:hover {
        background: #ffffff;
        color: #000000;
        box-shadow: 2px 2px 20px 0px #00000075;
    }

